<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:ucc="http://www.louch2010.com/schema/ucc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
        http://www.louch2010.com/schema/ucc 
        http://www.louch2010.com/schema/ucc/ucc.xsd">
          
        <ucc:config appId="test" serverHost="127.0.0.1" cacheDir="/data/ucc" syncInterval="60" />
        <bean class="com.louch2010.ucc.client.test.MyConfig" />
        <bean id="testAware" class="com.louch2010.ucc.client.test.TestAware" />
        <bean class="com.louch2010.ucc.client.annotation.UConfigInjectHandler" />
</beans>